{% extends 'base.html' %} 
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}
    {% if username %}
        <h1>Bienvenida/o, {{username | capitalize}}</h1>
    {% endif %}

    {% if user_ip %}
    <h2>Tu IP es {{user_ip}}</h2>
    {% else %}
    <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}

    <div class="container">
        <h2>Crea una nueva tarea</h2>

        {{ wtf.quick_form(todo_form) }}
    

        <h3 class='text-muted text-center title' title="Todo list">--- Lista de tareas ---</h3>
        <div class="row row-cols-3 justify-content-md-center border-top border-bottom" title="Todo list">
            <p class="col-sm-5" title="Descripción">Descripción</p>
            <p class= "col" title="Estado">Estado</p>
            <div class="w-100 border-bottom"></div>
            {% for todo in todos %}
                {{ macros.render_todo(todo) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}