{% extends 'base.html' %} 
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}
    {% if username %}
        <h1>Bienvenida/o, {{username | capitalize}}</h1>
    {% endif %}

    {% if user_ip %}
    <h2>Tu IP es {{user_ip}}</h2>
    {% else %}
    <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}

    <div class="container">
        <h2>Crea una nueva tarea</h2>

        {{ wtf.quick_form(todo_form) }}
    

        <ul class="list-group list-group-flush" title="Todo list">
            <h3 class='text-muted text-center title'>--- Lista de tareas ---</h3>
            <div class="list-group-item d-flex justify-content-between align-items-center" >
                <p class="mr-auto mb-1">Descripción</p>
                <p class= "mr-auto mb-1">Estado</p>
            </div>
            {% for todo in todos %}
                {{ macros.render_todo(todo) }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}