{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_todo(todo) %}
    <li class="list-group-item">
        <h4 >
            Tarea: {{ todo.to_dict().description }}
        </h4>
        <div>
            <span class="badge badge-primary badge-pill" style="font-size: 95%;">
                {%if todo.to_dict().done %}
                    Done 
                {% else %} 
                    To do 
                {% endif %}
            </span>
            <a 
            href="{{ url_for('delete', todo_id=todo.id) }}" 
            class="btn d-inline-block btn-danger" style="font-size: 85%;">Delete</a>
        </div>
    </li>
{% endmacro %}